<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" />
    </head>
  <body>
    <h1><span class="blue"></span>Energiser<span class="blue"></span> <span class="yellow">Leaderboard</span></h1>


   <table id="myTable" class="container">
        <thead>
            <tr>
                <th><h1>Team</h1></th>
                <th><h1>Score</h1></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>!Worst</td>
                <td>9999</td>
            </tr>
            <tr>
                <td>Spooky Otter</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Node.X</td>
                <td>1</td>
            </tr>
        <tr>
                <td>Solution</td>
                <td>2</td>
            </tr>
        <tr>
                <td>Snapdragon</td>
                <td>2</td>
            </tr>
        </tbody>
    </table>
    <button onclick="sortTable()">Sort</button>
    <script>
    function sortTable() {
      var table, rows, switching, i, x, y, shouldSwitch;
      table = document.getElementById("myTable");
      switching = true;
      while (switching) {
        switching = false;
        rows = table.getElementsByTagName("TR");
        for (i = 1; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[1];
          y = rows[i + 1].getElementsByTagName("TD")[1];
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            shouldSwitch= true;
            break;
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }
      }
    </script>
  </body>
</html>
