<h1 id="homeTitle" class="animated infinite pulse">!Worst Hackathon Task</h1>
<!-- <p>Welcome to {{title}}</p> -->

<div class="cell">
  <a class="twitter-timeline" position:"relative" margin:"auto" data-width="300" data-height="400" data-theme="light" data-link-color="#19CF86 " href="https://twitter.com/theSchoolOfCode?ref_src=twsrc%5Etfw">Tweets by theSchoolOfCode</a>
  <a href="/leaderboard" >
  <img id="socLogo" src="/images/soc-logo.png" width="400" height="400" margin:"auto"/>
  </a>
</div>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
