<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" />
    </head>
  <body>
    <h1><span class="blue"></span>Energiser<span class="blue"></span> <span class="yellow">Leaderboard</span></h1>


    <table class="container">
    	<thead>
    		<tr>
    			<th><h1>Team</h1></th>
    			<th><h1>Score</h1></th>
    			<th><h1>Placeholder</h1></th>
    			<th><h1>Placeholder</h1></th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
    			<td>!Worst</td>
    			<td>9999</td>
    			<td>fillme</td>
    			<td>fillme</td>
    		</tr>
    		<tr>
    			<td>Spooky Otter</td>
    			<td>2</td>
    			<td>fillme</td>
    			<td>fillme</td>
    		</tr>
    		<tr>
    			<td>Node.X</td>
    			<td>1</td>
    			<td>fillme</td>
    			<td>fillme</td>
    		</tr>
        <tr>
    			<td>Solution</td>
    			<td>2</td>
    			<td>fillme</td>
    			<td>fillme</td>
    		</tr>
        <tr>
    			<td>Snapdragon</td>
    			<td>2</td>
    			<td>fillme</td>
    			<td>fillme</td>
    		</tr>
    	</tbody>
    </table>
    <!-- <a class="twitter-timeline" data-width="400" data-height="700" data-theme="dark" data-link-color="#19CF86 " href="https://twitter.com/theSchoolOfCode?ref_src=twsrc%5Etfw">Tweets by theSchoolOfCode</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->
  </body>
</html>
