<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
